<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CashApp</title>
    <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script type="text/javascript" src="/query-1.6.3.min.js"></script>
  <script src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
  </head>
  <body class="bodyClass">

    <div class="slogan">
        Budgeting is the first step toward financial freedom!
    </div>

    {% if user.is_authenticated %}
    <nav class="navbar navbar-default techfont custom-navbar">
      <div class="container ">
        <ul class="nav navbar-nav navBarNav">
          <li><a class='navbar-brand bigbrand' href="">CashApp</a></li>
          <li><a href="{% url 'dashboard' %}">DashBoard</a></li>
          <li><a href="{% url 'cheltuieli_list' %}">Cheltuieli</a></li>
          <li><a href="{% url 'venituri_list' %}">Venituri</a></li>
          <li><a href="{% url 'rapoarte' %}">Rapoarte</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </div>
    </nav>
    {% else %}
    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a class='navbar-brand bigbrand' href="">CashApp</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
        </ul>
        <!-- LOGIN PART -->
        <ul class="nav navbar-nav navbar-right">
          <li><a class='nav navbar-right' href="{% url 'login' %}" ><span class="glyphicon glyphicon-user"></span></a></li>
      </div>
    </nav>
    {% endif %}

    <div class="content container">
            <div class="row">
                </div>
              </div>
                    {% block body_block %}

                    {% endblock %}

            </div>
        </div>

  </body>
</html>
